.container
  .row
    .span12
      %table.table.table-hover.table-condensed
        %thead 
          %tr 
            %th
              Nome do Bar 
            %th
              Checkins
            %th
              Usuários
            %th
              Tips
        %tbody 
          -@local.each do |l|
            %tr
              %td
                =l.name
              %td
                =l.stats.checkinsCount
              %td
                =l.stats.usersCount
              %td
                =l.stats.tipCount
  .row
    .span12
      #graph
        %svg

=javascript_include_tag "linechart"