.container
  .row
    .span12
      .hero-unit
        %h1 
          Hello Everyone!
        %p.lead
          This is F.S. Boiling, a new way to explore Foursquare places!
          %br/
          Nowadays we just find places near Belo Horizonte.
          %br/ 
          Coming soon you can look for a place near you and compare it with other places!!
          %br/ 
          So you can look for a place on the top navbar or just now!
        %form{:action => "pages/show"}
          .input-append
            %input.span4#appendInput{:type => "text", :name=>:lq, :placeholder=> "Look for a place"}  
            %button.btn.btn{:type=>"submit"}
              %i.icon-search
          
