.row-fluid
  .span12
    .page-header
      %h2
        Comparision between categories
.row-fluid
  .span4
    %h3 
      Checkins Count
    #cc
  .span4
    %h3
      Users Count
    #uc
  .span4
    %h3
      Tips Count
    #tc  
=javascript_include_tag "similar.js"
