// Place all the styles related to the local controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

text
  fill: #333

#map
  height: 250px
#piephoto
  .arc
    path
      stroke: #fff
      &:hover
      stroke: #e6e6e6
    &:hover
      text
        fill: #595959
    text
      fill: #333
#cc
  .bar
    fill: #4ea7ff
#uc
  .bar
    fill: #ffff4e
#tc
  .bar
    fill: #ff4e4e
